@media (min-width: 1200px){
    .container{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .doc-links {
        width: auto;       
    }
}

@media (max-width: 576px){
    .header-main{
        .brand {
            width: 190px;            
        }
        .btn{
            padding: 6px 10px;
        }
    }
    .header-outer {
        padding: 20px 0;
        border-bottom: 1px solid #f4dc09;
    }
    .section-hero {
        padding-top: 145px;      
    }
    .hero-content img {      
        max-width: 180px;
    }
    .hero-body h2 {
        font-size: 24px;
        line-height: 1.2;
    }
}

@media (max-width: 360px){
    .header-main{
        .brand {
            width: 170px;            
        }
        .btn{
            padding: 5px 5px;
            white-space: nowrap;
            font-size: 10px;
        }
    }
    
}