
$primary:       #7192bb;
$secondary:     #f4dc09;
$success:       #76BC43;

$primaryDark: #232a34;

//custom bootstrap variables
$accent1: #839fc4;
$accent2: #222831; 


$bodyTextColor: #636466;
$placeholderColor: #343535;

$white: #fff;
$black: #000;

$darkGray: #636466;
$lightGray: #E5E5E5;

$bodyFontSize: 14px;
$bodyLineHeight: 1.6;
$bodyFontFamily: 'Montserrat', sans-serif;
$headingFont: 'Montserrat', sans-serif; 

$h1Size: 36px;
$h2Size: 30px;
$h3Size: 18px;
$h4Size: 16px;


